@(sid: String, token: String)

@main("イベントテスト") {
<script src="@routes.Assets.at("javascripts/ext/roomframework/roomframework.js")"></script>
<script>
$(function() {
	function format(date, format) {
		if (!format) format = 'MM-DD hh:mm:ss';
		format = format.replace(/YYYY/g, date.getFullYear());
		format = format.replace(/MM/g, ('0' + (date.getMonth() + 1)).slice(-2));
		format = format.replace(/DD/g, ('0' + date.getDate()).slice(-2));
		format = format.replace(/hh/g, ('0' + date.getHours()).slice(-2));
		format = format.replace(/mm/g, ('0' + date.getMinutes()).slice(-2));
		format = format.replace(/ss/g, ('0' + date.getSeconds()).slice(-2));
		if (format.match(/S/g)) {
			var milliSeconds = ('00' + date.getMilliseconds()).slice(-3);
			var length = format.match(/S/g).length;
			for (var i = 0; i < length; i++) {
				format = format.replace(/S/, milliSeconds.substring(i, i + 1));
			}
		}
		return format;
	};
	function normalize(obj) {
		var msg = room.utils.stripFunc(obj);
		if (typeof(msg) === "object") {
			msg = JSON.stringify(msg);
		}
		return msg;
	}
	function handleEvent(event) {
		var name = event.type,
			now = new Date().getTime(),
			prevTime = eventTimes[name],
			msg = prevTime ? "前イベントからの経過時間: " + (now - prevTime) + "ms" : "初回";
			logger.log(name, msg);
			eventTimes[name] = now;
	}

	function TableLogger($table) {
		function onClick() {
			var clazz = $(this).attr("data-class");
			if (clazz) {
				$table.find(".info").removeClass("info");
				$table.find("." + clazz).addClass("info");
			}
		}
		this.log = function() {
			var col1, col2 = null,
				$tr = $("<tr><td nowrap></td><td></td><td></td></tr>");
			if (arguments.length == 0) {
				return;
			} else if (arguments.length == 1) {
				col1 = "";
				col2 = normalize(arguments[0]);
			} else if (arguments.length == 2) {
				col1 = arguments[0];
				col2 = normalize(arguments[1]);
			} else {
				col1 = arguments[0];
				col2 = [];
				for (var i=1; i<arguments.length; i++) {
					col2.push(arguments[i]);
				}
				col2 = normalize(col2);
			}
			$tr.find("td:first").text(format(new Date()));
			$tr.find("td:eq(1)").text(col1);
			$tr.find("td:last").text(col2);
			if (col1) {
				$tr.addClass(col1);
				$tr.attr("data-class", col1);
				$tr.click(onClick);
			}
			$table.append($tr);
		};
	};
	var token = "@token",
		logger = new TableLogger($("#table")),
		eventTimes = {},
		clientPollingHandle = 0,
		socket = new room.Connection({
			"url" : "ws://" + location.host + "/test1",
			"logger" : logger,
			"authToken" : token
		});
	socket.on("polling", function() {
		logger.log("polling", "window.closed=" + window.closed + ", document.hidden=" + document.hidden);
		//Do nothing
	});
	$("#server-polling").click(function() {
		var interval = parseInt($("#server-interval").val());
		socket.request({
			"command" : "polling",
			"data" : interval
		});
	});
	$("#server-polling-stop").click(function() {
		socket.request({
			"command" : "stopPolling",
			"success" : function(data) {
				logger.log("stopPolling", data)
			}
		});
	});
	$("#client-polling").click(function() {
		var interval = parseInt($("#client-interval").val()),
			background = $("#client-polling-background").is(":checked");
		if (clientPollingHandle) {
			clearInterval(clientPollingHandle);
		}
		clientPollingHandle = socket.sendNoop(interval, background);
	});
	$("#client-polling-stop").click(function() {
		if (clientPollingHandle) {
			clearInterval(clientPollingHandle);
		}
		clientPollingHandle = 0;
	});
	var events = [
		"beforeunload",
		"blur",
		"change",
		"close",
		"focus",
		"load",
		"unload",
		"pageshow",
		"pagehide"
	];
	for (var i=0; i<events.length; i++) {
		$(window).on(events[i], handleEvent);
	}
	$(document).on("visibilitychange", handleEvent);
	setInterval(function(event) {
		handleEvent({
			"type" : "setInterval"
		});
	}, 30 * 1000);
	$("#btnDesc").click(function() {
		$("#desc").toggle();
	})
});
</script>
<div class="container">
	<h1>ブラウザイベントのテスト</h1>
	<div>
		<div class="pull-right"><button id="btnDesc" class="btn btn-info">説明</button></div>
		<div id="desc" class="alert alert-info" style="display:none;">
			<p>ブラウザの各種イベント発生時にログを出力します。</p>
			<p>対象としているイベントは下記です。(一部のイベントはブラウザクローズ時に発生するものなので見ることはできません。)</p>
			<ul>
				<li>window#beforeunload</li>
				<li>window#blur</li>
				<li>window#change</li>
				<li>window#close</li>
				<li>window#focus</li>
				<li>window#load</li>
				<li>window#unload</li>
				<li>window#pageshow</li>
				<li>window#pagehide</li>
				<li>document#visibilitychang</li>
			</ul>
			<p>それとは別にWebSocketで発生する各種イベントも出力しています。</p>
		</div>
		<div class="clearfix"></div>
	</div>
	<div>
		<p>
			<label style="width:180px;">サーバーからポーリング：</label><br>
			<input id="server-interval" value="30" size="2"/> 秒間隔 <br>
			<button id="server-polling" class="btn btn-info">実行</button>
			<button id="server-polling-stop" class="btn btn-danger">停止</button>
		</p>
		<p>
			<label style="width:180px;">クライアントからポーリング：</label><br>
			<input id="client-interval" value="30" size="2"/> 秒間隔 <br>
			<input type="checkbox" id="client-polling-background"> バックグラウンドでも実行<br>
			<button id="client-polling" class="btn btn-info">実行</button>
			<button id="client-polling-stop" class="btn btn-danger">停止</button>
		</p>
	<hr>
	<table id="table" border="1" class="table">
	</table>
</div>
<a href="https://github.com/you"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png"></a>
}
