@(sid: String, token: String)

@main("Welcome to Play") {
<script src="@routes.Assets.at("javascripts/ext/roomframework/roomframework.js")"></script>
<h1>Test: @sid</h1>
<script>
$(function() {
	function normalize(obj) {
		return JSON.stringify(room.logger.normalizeFunc(obj));
	}
	function TableLogger($table) {
		this.log = function() {
			var col1, col2 = null,
				$tr = $("<tr><td></td><td></td></tr>");
console.log("log", arguments);
			if (arguments.length == 0) {
				return;
			} else if (arguments.length == 1) {
				col1 = "";
				col2 = normalize(arguments[0]);
			} else if (arguments.length == 2) {
				col1 = arguments[0];
				col2 = normalize(arguments[1]);
			} else {
				col1 = arguments[0];
				col2 = [];
				for (var i=1; i<arguments.length; i++) {
					col2.push(arguments[i]);
				}
				col2 = normalize(col2);
			}
			$tr.find("td:first").text(col1);
			$tr.find("td:last").text(col2);
			$table.append($tr);
		};
	};
	var token = "@token",
		logger = console;
	var socket = new room.Connection({
		"url" : "ws://" + location.host + "/test1",
		"logger" : new TableLogger($("#table")),
		"authToken" : token
	});
console.log("test1");
});
</script>
<input id="echo">
<button id="send">Send</button>
<button id="close">Close</button>
<table id="table" border="1">
</table>
}
