@(sid: String, token: String)

@main("Welcome to Play") {
<script src="@routes.Assets.at("javascripts/ext/roomframework/roomframework.js")"></script>
<h1>Test: @sid</h1>
<script>
$(function() {
	function format(date, format) {
		if (!format) format = 'MM-DD hh:mm:ss';
		format = format.replace(/YYYY/g, date.getFullYear());
		format = format.replace(/MM/g, ('0' + (date.getMonth() + 1)).slice(-2));
		format = format.replace(/DD/g, ('0' + date.getDate()).slice(-2));
		format = format.replace(/hh/g, ('0' + date.getHours()).slice(-2));
		format = format.replace(/mm/g, ('0' + date.getMinutes()).slice(-2));
		format = format.replace(/ss/g, ('0' + date.getSeconds()).slice(-2));
		if (format.match(/S/g)) {
			var milliSeconds = ('00' + date.getMilliseconds()).slice(-3);
			var length = format.match(/S/g).length;
			for (var i = 0; i < length; i++) {
				format = format.replace(/S/, milliSeconds.substring(i, i + 1));
			}
		}
		return format;
	};
	function normalize(obj) {
		return JSON.stringify(room.logger.normalizeFunc(obj));
	}
	function addEvent(name) {
		$(window).on(name, function(event) {
			logger.log(name, "!!!!!!");
		})
	}
	function TableLogger($table) {
		this.log = function() {
			var col1, col2 = null,
				$tr = $("<tr><td nowrap></td><td></td><td></td></tr>");
			if (arguments.length == 0) {
				return;
			} else if (arguments.length == 1) {
				col1 = "";
				col2 = normalize(arguments[0]);
			} else if (arguments.length == 2) {
				col1 = arguments[0];
				col2 = normalize(arguments[1]);
			} else {
				col1 = arguments[0];
				col2 = [];
				for (var i=1; i<arguments.length; i++) {
					col2.push(arguments[i]);
				}
				col2 = normalize(col2);
			}
			$tr.find("td:first").text(format(new Date()));
			$tr.find("td:eq(1)").text(col1);
			$tr.find("td:last").text(col2);
			$table.append($tr);
		};
	};
	var token = "@token",
		logger = new TableLogger($("#table"));
	var socket = new room.Connection({
		"url" : "ws://" + location.host + "/test1",
		"logger" : logger,
		"authToken" : token
	});
	socket.on("polling", function() {
		logger.log("polling", "window.closed=" + window.closed + ", document.hidden=" + document.hidden);
		//Do nothing
	});
	$("#polling").click(function() {
		var interval = parseInt($("#interval").val());
		if (room.utils.isMobile()) {
			socket.sendNoop(interval);
		} else {
			socket.request({
				"command" : "polling",
				"data" : interval
			});
		}
	});
	var events = [
		"beforeunload",
		"blur",
		"change",
		"close",
		"focus",
		"load",
		"unload",
		"pageshow",
		"pagehide"
	];
	for (var i=0; i<events.length; i++) {
		addEvent(events[i]);
	}

});
</script>
Polling interval: <input id="interval" value="30">
<button id="polling">Polling</button>
<table id="table" border="1">
</table>
}
